body {
    background: #e27406;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: hsl(108, 83%, 53%);
    color: white;
    border: none;
    border-radius: 6px;
}